body {
  color: #444;
}

h1, h2, h3, h4, h5, h6 {
  color: #222;
}

.container {
  margin: 20px auto;
  width: 600px;
  padding: 0px 20px 20px 20px;
  border: 1px dotted black;
}

th {
  text-align: left;
}

form[action="/post/new"] input[name="title"] {
  display: block;
  padding: 0;
  width: 100%;
}

form[action="/post/new"] textarea {
  display: block;
  padding: 0;
  width: 100%;
  height: 15em;
}

a {
  text-decoration: none;
  color: #444;
}

.controls * {
  display: inline-block;
}