<div class="container">
  <h1>Welcome to Sinatra!</h1>
  <p>Hello, world!</p>

  <button id="edit"><a href="/post/<%= @post.id %>/edit">Edit</a></button>
  <form id="delete" action="/post/<%= @post.id %>/delete" method="post">
    <input type="submit" value="Delete">
  </form>

  <h2><%= @post.title %></h2>
  <p>
    <%= @post.content %>
  </p>


  <div class="posts"></div>
</div>